
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="router" translate>app.titol</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="dropdown">
          <div class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate>
            app.label.idioma
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="useLanguage('ca')">
              <span translate>app.label.catala</span>
            </a>
            <a class="dropdown-item" (click)="useLanguage('es')">
              <span translate>app.label.castella</span>
            </a>
            <a class="dropdown-item"  (click)="useLanguage('en')">
              <span translate>app.label.angles</span>
            </a>
            <a class="dropdown-item"  (click)="useLanguage('ja')">
              <span translate>app.label.japones</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <div class="my-2 my-lg-0" *ngIf="infoUsuari != null && infoUsuari.actiu==true">
      <span class="w3-dropdown-hover" style="background-color:#343a40; color: white; float: right; margin-right: 30px;">{{infoUsuari.username | uppercase }}
        <span class="w3-dropdown-content w3-bar-block w3-border usuari-dropdown" style="background-color:#343a40; color: white;">
            <a routerLink="gestionar-usuaris"  class="w3-bar-item w3-button" *ngIf="infoUsuari.rol=='ROL_ADMINGLOB'" translate>app.label.gestionar.usuaris</a>
            <a ng-click="logout()" routerLink="/" class="w3-bar-item w3-button" *ngIf="infoUsuari.rol=='ROL_ADMINGLOB' || infoUsuari.rol=='ROL_ADMIN' || infoUsuari.rol=='ROL_USUARI'" translate>app.label.desconnectar</a>
        </span>
      </span>
    </div>
  </div>
</nav>