a{
    text-decoration: none;
}

.usuari-dropdown{
    color: white;
}

nav{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}