#div-login{
    border-radius: 25px;
    padding: 5%;
    margin: 0 auto;
    background-color: #33ccff;
    width: 70%;
}

.help-block{
    max-width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

@media only screen and (max-width: 780px) {
    .help-block {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 15px;
    }
  }