<div class="container">
  <div id="div-login">
    <div id="login-title">
      <h2 translate>app.login.inises</h2>
    </div>
    <div>
      <div id="login-form">
        <div class="form-group">
          <label for="correu" translate>app.label.correu</label>
          <input type="email" class="form-control" id="correu" #correu required>
        </div>
        <div class="form-group">
          <label for="contrassenya" translate>app.label.contrassenya</label>
          <input type="password" class="form-control" id="contrassenya" #contrassenya required>
        </div>
        <button type="submit" (click)="iniciaSessio(correu.value,contrassenya.value)" translate>app.label.entrar</button>
      </div>
    </div>
  </div>
</div>
