<div class="container">
  <div class="alert alert-danger" *ngIf="mostrarAlertErrorUsuariInactiu"> 
    <strong translate>app.label.error </strong><p translate> app.label.error.compte.bloquejat </p> <a href="mailTo:marcfabregat10@gmail.com">Marc Fabregat</a>
  </div>
  <div class="alert alert-danger" *ngIf="mostrarAlertErrorUsuariIncorrecte"> 
    <strong translate>app.label.error </strong><p translate> app.label.error.login.incorrecte</p>
  </div>
  <div id="div-login">
    <div id="login-title">
      <h2 translate>app.login.inises</h2>
    </div>
    <div>
      <form id="login-form" [formGroup]="formLogin" (ngSubmit) = "iniciaSessio(formLogin.value)">
        <div class="form-group">
          <label for="correu" translate>app.label.correu</label>
          <input type="email" class="form-control" formControlName="correu">
          <div class="help-block alert alert-danger" role="alert" *ngIf="formLogin.controls['correu'].invalid" translate>
            app.login.correu.invalid
          </div>
          <div class="help-block alert alert-danger" role="alert" *ngIf="formLogin.controls['correu'].touched && formLogin.controls['correu'].errors?.required" translate>
            app.login.correu.requerit
          </div>
        </div>

        <div class="form-group">
          <label for="contrassenya" translate>app.label.contrassenya</label>
          <input type="password" class="form-control" formControlName="contrassenya">
          <div class="help-block alert alert-danger" role="alert" *ngIf="formLogin.controls['contrassenya'].touched && formLogin.controls['contrassenya'].errors?.required" translate>
            app.login.contrassenya.requerida
          </div>
          <div class="help-block alert alert-danger" role="alert" *ngIf="formLogin.controls['contrassenya'].errors?.minlength" translate>
            app.login.contrassenya.longitud.minima
          </div>
          <div class="help-block alert alert-danger" role="alert" *ngIf="formLogin.controls['contrassenya'].errors?.maxlength" translate>
            app.login.contrassenya.longitud.maxima
          </div>
        </div>
        <input type="submit" class="btn btn-primary" value="{{'app.login.inises' | translate}}" [disabled] = "!formLogin.valid"> 
      </form>
    </div>
  </div>
</div>
